In [4]:
# import os
# import warnings

# import numpy as np

import pickle
import pandas as pd
pd.set_option("display.max_rows",40)
# pd.set_option("display.max_columns", 10)
import matplotlib.pyplot as plt
%matplotlib inline
import networkx as nx

from utils import *
from algo import *

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

_____

In [5]:
end_id = ZURICH_HB_ID
end_time = Time(h=10).in_seconds()
start_id = 8591192

path, path_conn_datas = dijkstra_base(start_id, end_id, end_time)
path_conn_datas

Visited 2/1591
Visited 3/1591
Visited 4/1591
Visited 5/1591
Visited 6/1591
Visited 7/1591
Visited 8/1591
Visited 9/1591
Visited 10/1591
Visited 11/1591
Visited 12/1591
Visited 13/1591
Visited 14/1591
Visited 15/1591
Visited 16/1591
Visited 17/1591
Visited 18/1591
Visited 19/1591
Visited 20/1591
Visited 21/1591
Visited 22/1591
Visited 23/1591
Visited 24/1591
Visited 25/1591
Visited 26/1591
Visited 27/1591
Visited 28/1591
Visited 29/1591
Visited 30/1591
Visited 31/1591
Visited 32/1591
Visited 33/1591
Visited 34/1591
Visited 35/1591
Visited 36/1591
Visited 37/1591
Visited 38/1591
Visited 39/1591
Visited 40/1591
Visited 41/1591
Visited 42/1591
Visited 43/1591
Visited 44/1591
Visited 45/1591
Visited 46/1591
Visited 47/1591
Visited 48/1591
Visited 49/1591
Visited 50/1591
Visited 51/1591
Visited 52/1591
Visited 53/1591
Visited 54/1591
Visited 55/1591
Visited 56/1591
Visited 57/1591
Visited 58/1591
Visited 59/1591
Visited 60/1591
Visited 61/1591
Visited 62/1591
Visited 63/1591
Visited 64/1591
Visited 65/1591
Visited 66/1591
Visited 67/1591
Visited 68/1591
Visited 69/1591
Visited 70/1591
Visited 71/1591
Visited 72/1591
Visited 73/1591
Visited 74/1591
Visited 75/1591
Visited 76/1591
Visited 77/1591
Visited 78/1591
Visited 79/1591
Visited 80/1591
Visited 81/1591
Visited 82/1591
Visited 83/1591
Visited 84/1591
Visited 85/1591
Visited 86/1591
Visited 87/1591
Visited 88/1591
Visited 89/1591
Visited 90/1591
Visited 91/1591
Visited 92/1591
Visited 93/1591
Visited 94/1591
Visited 95/1591
Visited 96/1591
Visited 97/1591
Visited 98/1591
Visited 99/1591
Visited 100/1591
Visited 101/1591
Visited 102/1591
Visited 103/1591
Visited 104/1591
Visited 105/1591
Visited 106/1591
Visited 107/1591
Visited 108/1591
Visited 109/1591
Visited 110/1591
Visited 111/1591
Visited 112/1591
Visited 113/1591
Visited 114/1591
Visited 115/1591
Visited 116/1591
Visited 117/1591
Visited 118/1591
Visited 119/1591
Visited 120/1591
Visited 121/1591
Visited 122/1591
Visited 123/1591
Visited 124/1591
Visited 125/1591
Visited 126/1591
Visited 127/1591
Visited 128/1591
Visited 129/1591
Visited 130/1591
Visited 131/1591
Visited 132/1591
Visited 133/1591
Visited 134/1591
Visited 135/1591
Visited 136/1591
Visited 137/1591
Visited 138/1591
Visited 139/1591
Visited 140/1591
Visited 141/1591
Visited 142/1591
Visited 143/1591
Visited 144/1591
Visited 145/1591
Visited 146/1591
Visited 147/1591
Visited 148/1591
Visited 149/1591
Visited 150/1591
Visited 151/1591
Visited 152/1591
Visited 153/1591
Visited 154/1591
Visited 155/1591
Visited 156/1591
Visited 157/1591
Visited 158/1591
Visited 159/1591
Visited 160/1591
Visited 161/1591
Visited 162/1591
Visited 163/1591
Visited 164/1591
Visited 165/1591
Visited 166/1591
Visited 167/1591
Visited 168/1591
Visited 169/1591
Visited 170/1591
Visited 171/1591
Visited 172/1591
Visited 173/1591
Visited 174/1591
Visited 175/1591
Visited 176/1591
Visited 177/1591
Visited 178/1591
Visited 179/1591
Visited 180/1591
Visited 181/1591
Visited 182/1591
Visited 183/1591
Visited 184/1591
Visited 185/1591
Visited 186/1591
Visited 187/1591
Visited 188/1591
Visited 189/1591
Visited 190/1591
Visited 191/1591
Visited 192/1591
Visited 193/1591
Visited 194/1591
Visited 195/1591
Visited 196/1591
Visited 197/1591
Visited 198/1591
Visited 199/1591
Visited 200/1591
Visited 201/1591
Visited 202/1591
Visited 203/1591
Visited 204/1591
Visited 205/1591
Visited 206/1591
Visited 207/1591
Visited 208/1591
Visited 209/1591
Visited 210/1591
Visited 211/1591
Visited 212/1591
Visited 213/1591
Visited 214/1591
Visited 215/1591
Visited 216/1591
Visited 217/1591
Visited 218/1591
Visited 219/1591
Visited 220/1591
Visited 221/1591
Visited 222/1591
Visited 223/1591
Visited 224/1591
Visited 225/1591
Visited 226/1591
Visited 227/1591
Visited 228/1591
Visited 229/1591
Visited 230/1591
Visited 231/1591
Visited 232/1591
Visited 233/1591
Visited 234/1591
Visited 235/1591
Visited 236/1591
Visited 237/1591
Visited 238/1591
Visited 239/1591
Visited 240/1591
Visited 241/1591
Visited 242/1591
Visited 243/1591
Visited 244/1591
Visited 245/1591
Visited 246/1591
Visited 247/1591
Visited 248/1591
Visited 249/1591
Visited 250/1591
Visited 251/1591
Visited 252/1591
Visited 253/1591
Visited 254/1591
Visited 255/1591
Visited 256/1591
Visited 257/1591
Visited 258/1591
Visited 259/1591
Visited 260/1591
Visited 261/1591
Visited 262/1591
Visited 263/1591
Visited 264/1591
Visited 265/1591
Visited 266/1591
Visited 267/1591
Visited 268/1591
Visited 269/1591
Visited 270/1591
Visited 271/1591
Visited 272/1591
Visited 273/1591
Visited 274/1591
Visited 275/1591
Visited 276/1591
Visited 277/1591
Visited 278/1591
Visited 279/1591
Visited 280/1591
Visited 281/1591
Visited 282/1591
Visited 283/1591
Visited 284/1591
Visited 285/1591
Visited 286/1591
Visited 287/1591
Visited 288/1591
Visited 289/1591
Visited 290/1591
Visited 291/1591
Visited 292/1591
Visited 293/1591
Visited 294/1591
Visited 295/1591
Visited 296/1591
Visited 297/1591
Visited 298/1591
Visited 299/1591
Visited 300/1591
Visited 301/1591
Visited 302/1591
Visited 303/1591
Visited 304/1591
Visited 305/1591
Visited 306/1591
Visited 307/1591
Visited 308/1591
Visited 309/1591
Visited 310/1591
Visited 311/1591
Visited 312/1591
Visited 313/1591
Visited 314/1591
Visited 315/1591
Visited 316/1591
Visited 317/1591
Visited 318/1591
Visited 319/1591
Visited 320/1591
Visited 321/1591
Visited 322/1591
Visited 323/1591
Visited 324/1591
Visited 325/1591
Visited 326/1591
Visited 327/1591
Visited 328/1591
Visited 329/1591
Visited 330/1591
Visited 331/1591
Visited 332/1591
Visited 333/1591
Visited 334/1591
Visited 335/1591
Visited 336/1591
Visited 337/1591
Visited 338/1591
Visited 339/1591
Visited 340/1591
Visited 341/1591
Visited 342/1591
Visited 343/1591
Visited 344/1591
Visited 345/1591
Visited 346/1591
Visited 347/1591
Visited 348/1591
Visited 349/1591
Visited 350/1591
Visited 351/1591
Visited 352/1591
Visited 353/1591
Visited 354/1591
Visited 355/1591
Visited 356/1591
Visited 357/1591
Visited 358/1591
Visited 359/1591
Visited 360/1591
Visited 361/1591
Visited 362/1591
Visited 363/1591
Visited 364/1591
Visited 365/1591
Visited 366/1591
Visited 367/1591
Visited 368/1591
Visited 369/1591
Visited 370/1591
Visited 371/1591
Visited 372/1591
Visited 373/1591
Visited 374/1591
Visited 375/1591
Visited 376/1591
Visited 377/1591
Visited 378/1591
Visited 379/1591
Visited 380/1591
Visited 381/1591
Visited 382/1591
Visited 383/1591
Visited 384/1591
Visited 385/1591
Visited 386/1591
Visited 387/1591
Visited 388/1591
Visited 389/1591
Visited 390/1591
Visited 391/1591
Visited 392/1591
Visited 393/1591
Visited 394/1591
Visited 395/1591
Visited 396/1591
Visited 397/1591
Visited 398/1591
Visited 399/1591
Visited 400/1591
Visited 401/1591
Visited 402/1591
Visited 403/1591
Visited 404/1591
Visited 405/1591
Visited 406/1591
Visited 407/1591
Visited 408/1591
Visited 409/1591
Visited 410/1591
Visited 411/1591
Visited 412/1591
Visited 413/1591
Visited 414/1591
Visited 415/1591
Visited 416/1591
Visited 417/1591
Visited 418/1591
Visited 419/1591
Visited 420/1591
Visited 421/1591
Visited 422/1591
Visited 423/1591
Visited 424/1591
Visited 425/1591
Visited 426/1591
Visited 427/1591
Visited 428/1591
Visited 429/1591
Visited 430/1591
Visited 431/1591
Visited 432/1591
Visited 433/1591
Visited 434/1591
Visited 435/1591
Visited 436/1591
Visited 437/1591
Visited 438/1591
Visited 439/1591
Visited 440/1591
Visited 441/1591
Visited 442/1591
Visited 443/1591
Visited 444/1591
Visited 445/1591
Visited 446/1591
Visited 447/1591
Visited 448/1591
Visited 449/1591
Visited 450/1591
Visited 451/1591
Visited 452/1591
Visited 453/1591
Visited 454/1591
Visited 455/1591
Visited 456/1591
Visited 457/1591
Visited 458/1591
Visited 459/1591
Visited 460/1591
Visited 461/1591
Visited 462/1591
Visited 463/1591
Visited 464/1591
Visited 465/1591
Visited 466/1591
Visited 467/1591
Visited 468/1591
Visited 469/1591
Visited 470/1591
Visited 471/1591
Visited 472/1591
Visited 473/1591
Visited 474/1591
Visited 475/1591
Visited 476/1591
Visited 477/1591
Visited 478/1591
Visited 479/1591
Visited 480/1591
Visited 481/1591
Visited 482/1591
Visited 483/1591
Visited 484/1591
Visited 485/1591
Visited 486/1591
Visited 487/1591
Visited 488/1591
Visited 489/1591
Visited 490/1591
Visited 491/1591
Visited 492/1591
Visited 493/1591
Visited 494/1591
Visited 495/1591
Visited 496/1591
Visited 497/1591
Visited 498/1591
Visited 499/1591
Visited 500/1591
Visited 501/1591
Visited 502/1591
Visited 503/1591
Visited 504/1591
Visited 505/1591
Visited 506/1591
Visited 507/1591
Visited 508/1591
Visited 509/1591
Visited 510/1591
Visited 511/1591
Visited 512/1591
Visited 513/1591
Visited 514/1591
Visited 515/1591
Visited 516/1591
Visited 517/1591
Visited 518/1591
Visited 519/1591
Visited 520/1591
Visited 521/1591
Visited 522/1591
Visited 523/1591
Visited 524/1591
Visited 525/1591
Visited 526/1591
Visited 527/1591
Visited 528/1591
Visited 529/1591
Visited 530/1591
Visited 531/1591
Visited 532/1591
Visited 533/1591
Visited 534/1591
Visited 535/1591
Visited 536/1591
Visited 537/1591
Visited 538/1591
Visited 539/1591
Visited 540/1591
Visited 541/1591
Visited 542/1591
Visited 543/1591
Visited 544/1591
Visited 545/1591
Visited 546/1591
Visited 547/1591
Visited 548/1591
Visited 549/1591
Visited 550/1591
Visited 551/1591
Visited 552/1591
Visited 553/1591
Visited 554/1591
Visited 555/1591
Visited 556/1591
Visited 557/1591
Visited 558/1591
Visited 559/1591
Visited 560/1591
Visited 561/1591
Visited 562/1591
Visited 563/1591
Visited 564/1591
Visited 565/1591
Visited 566/1591
Visited 567/1591
Visited 568/1591
Visited 569/1591
Visited 570/1591
Visited 571/1591
Visited 572/1591
Visited 573/1591
Visited 574/1591
Visited 575/1591
Visited 576/1591
Visited 577/1591
Visited 578/1591
Visited 579/1591
Visited 580/1591
Visited 581/1591
Visited 582/1591
Visited 583/1591
Visited 584/1591
Visited 585/1591
Visited 586/1591
Visited 587/1591
Visited 588/1591
Visited 589/1591
Visited 590/1591
Visited 591/1591
Visited 592/1591
Visited 593/1591
Visited 594/1591
Visited 595/1591
Visited 596/1591
Visited 597/1591
Visited 598/1591
Visited 599/1591
Visited 600/1591
Visited 601/1591
Visited 602/1591
Visited 603/1591
Visited 604/1591
Visited 605/1591
Visited 606/1591
Visited 607/1591
Visited 608/1591
Visited 609/1591
Visited 610/1591
Visited 611/1591
Visited 612/1591
Visited 613/1591
Visited 614/1591
Visited 615/1591
Visited 616/1591
Visited 617/1591
Visited 618/1591
Visited 619/1591
Visited 620/1591
Visited 621/1591
Visited 622/1591
Visited 623/1591
Visited 624/1591
Visited 625/1591
Visited 626/1591
Visited 627/1591
Visited 628/1591
Visited 629/1591
Visited 630/1591
Visited 631/1591
Visited 632/1591
Visited 633/1591
Visited 634/1591
Visited 635/1591
Visited 636/1591
Visited 637/1591
Visited 638/1591
Visited 639/1591
Visited 640/1591
Visited 641/1591
Visited 642/1591
Visited 643/1591
Visited 644/1591
Visited 645/1591
Visited 646/1591
Visited 647/1591
Visited 648/1591
Visited 649/1591
Visited 650/1591
Visited 651/1591
Visited 652/1591
Visited 653/1591
Visited 654/1591
Visited 655/1591
Visited 656/1591
Visited 657/1591
Visited 658/1591
Visited 659/1591
Visited 660/1591
Visited 661/1591
Visited 662/1591
Visited 663/1591
Visited 664/1591
Visited 665/1591
Visited 666/1591
Visited 667/1591
Visited 668/1591
Visited 669/1591
Visited 670/1591
Visited 671/1591
Visited 672/1591
Visited 673/1591
Visited 674/1591
Visited 675/1591
Visited 676/1591
Visited 677/1591
Visited 678/1591
Visited 679/1591
Visited 680/1591
Visited 681/1591
Visited 682/1591
Visited 683/1591
Visited 684/1591
Visited 685/1591
Visited 686/1591
Visited 687/1591
Visited 688/1591
Visited 689/1591
Visited 690/1591
Visited 691/1591
Visited 692/1591
Visited 693/1591
Visited 694/1591
Visited 695/1591
Visited 696/1591
Visited 697/1591
Visited 698/1591
Visited 699/1591
Visited 700/1591
Visited 701/1591
Visited 702/1591
Visited 703/1591
Visited 704/1591
Visited 705/1591
Visited 706/1591
Visited 707/1591
Visited 708/1591
Visited 709/1591
Visited 710/1591
Visited 711/1591
Visited 712/1591
Visited 713/1591
Visited 714/1591
Visited 715/1591
Visited 716/1591
Visited 717/1591
Visited 718/1591
Visited 719/1591
Visited 720/1591
Visited 721/1591
Visited 722/1591
Visited 723/1591
Visited 724/1591
Visited 725/1591
Visited 726/1591
Visited 727/1591
Visited 728/1591
Visited 729/1591
Visited 730/1591
Visited 731/1591
Visited 732/1591
Visited 733/1591
Visited 734/1591
Visited 735/1591
Visited 736/1591
Visited 737/1591
Visited 738/1591
Visited 739/1591
Visited 740/1591
Visited 741/1591
Visited 742/1591
Visited 743/1591
Visited 744/1591
Visited 745/1591
Visited 746/1591
Visited 747/1591
Visited 748/1591
Visited 749/1591
Visited 750/1591
Visited 751/1591
Visited 752/1591
Visited 753/1591
Visited 754/1591
Visited 755/1591
Visited 756/1591

,trip_id,dep_stop_id,arr_stop_id,mean,std,dep_time_s,arr_time_s,weight
0,692.TA.26-33-B-j19-1.2.H,8591192,8591376,0,66,34200.0,34260.0,60
287798,692.TA.26-33-B-j19-1.2.H,8591376,8591411,0,66,34260,34320,224
9,walk,8591411,8591373,0,0,NaN,NaN,616
287275,450.TA.26-7-B-j19-1.1.H,8591373,8591174,0,66,35100,35160,93.0
16,walk,8591174,8503088,0,0,NaN,NaN,675.0
0,82.TA.26-4-A-j19-1.4.R,8503088,8503090,0,66,35880.0,35940.0,120

-----

In [232]:
df_stops

                             stop_name   latitude  longitude
stop_id
176             Zimmerberg-Basistunnel  47.351678   8.521958
8500926    Oetwil a.d.L., Schweizäcker  47.423627   8.403183
8502075  Zürich Flughafen, Carterminal  47.451024   8.563729
8502186           Dietikon Stoffelbach  47.393327   8.398960
8502186           Dietikon Stoffelbach  47.393400   8.398942
...                                ...        ...        ...
8503088                  Zürich HB SZU  47.377391   8.539358
8503307                    Bassersdorf  47.438570   8.626225
8583870                    Bahnhof Süd  47.357174   8.437013
8590279                Shopping Center  47.420448   8.368517
8590464                        Bahnhof  47.311781   8.524311

[1591 rows x 3 columns]

In [233]:
df_conns

,trip_id,dep_stop_id,arr_stop_id,mean,std,dep_time_s,arr_time_s
0,273.TA.26-301-j19-1.3.R,8500926,8590737,0,66,38760,38820
1,284.TA.26-301-j19-1.3.R,8500926,8590737,0,66,36960,37020
2,212.TA.26-301-j19-1.3.R,8500926,8590737,0,66,32460,32520
3,182.TA.26-301-j19-1.3.R,8500926,8590737,0,66,29400,29460
4,277.TA.26-301-j19-1.3.R,8500926,8590737,0,66,33360,33420
...,...,...,...,...,...,...,...
315319,305.TA.26-760-j19-1.9.R,8596113,8594261,0,66,37200,37260
315320,82.TA.26-760-j19-1.4.H,8596113,8591065,0,66,33780,33900
315321,1.TA.5-E03-j19-1.1.H,8596126,8502058,0,66,34800,38400
315322,2.TA.6-E02-j19-1.2.R,8596126,8573205,0,66,35700,36600
315323,1.TA.6-E01-j19-1.1.H,8596126,8502064,0,66,31200,36000

In [234]:
df_walks

      arr_stop_id  dep_stop_id  weight
0         8503086          176     507
1         8591392          176     686
2         8590616      8500926     267
3         8590737      8500926     480
4         8503016      8502075     267
...           ...          ...     ...
7413      8591071      8596126     613
7414      8591282      8596126     376
7415      8591368      8596126     281
7416      8591379      8596126     627
7417      8503088      8596126     644

[7418 rows x 3 columns]