In [1]:

import pickle
import pandas as pd
pd.set_option("display.max_rows",40)
pd.set_option("display.max_columns", 100)
import matplotlib.pyplot as plt
%matplotlib inline

from utils import *
from algo import *

from scipy.stats import norm

%load_ext autoreload
%autoreload 2

_____

In [4]:
END_TIME = Time(h=10).in_seconds()
END_ID = ZURICH_HB_ID
# START_ID = ZURICH_WERD_ID
# START_ID = 8591192
START_ID = 8503340
DAY_OF_WEEK = 1     # Val

routes_data = generate_routes(START_ID, END_ID, END_TIME, DAY_OF_WEEK, min_confidence=0.8, verbose=True)

Starting routing
Iteration: 1 - Found routes: 1
Probability: 0.9999999996283034

,trip_id,dep_stop_id,arr_stop_id,dep_stop_name,arr_stop_name,mean,std,transport_name,dep_time_s,arr_time_s,weight,proba
82262,115.TA.26-7-A-j19-1.29.R,8503340,8503006,Opfikon,Zürich Oerlikon,56.038806,61.236866,zug,34140.0,34320.0,900.0,1.0
33190,11.TA.16-13-j19-1.5.R,8503006,8503000,Zürich Oerlikon,Zürich HB,50.33622,79.535214,zug,35040.0,35460.0,960,1.0

---------------------------------------------
Iteration: 2 - Found routes: 2
Probability: 0.9999999996283034

,trip_id,dep_stop_id,arr_stop_id,dep_stop_name,arr_stop_name,mean,std,transport_name,dep_time_s,arr_time_s,weight,proba
82262,115.TA.26-7-A-j19-1.29.R,8503340,8503006,Opfikon,Zürich Oerlikon,56.038806,61.236866,zug,34140.0,34320.0,900.0,1.0
33179,12.TA.16-13-j19-1.1.R,8503006,8503000,Zürich Oerlikon,Zürich HB,50.33622,79.535214,zug,35040.0,35460.0,960,1.0

---------------------------------------------
Iteration: 3 - Found routes: 3
Probability: 0.9999999999999987

,trip_id,dep_stop_id,arr_stop_id,dep_stop_name,arr_stop_name,mean,std,transport_name,dep_time_s,arr_time_s,weight,proba
82262,115.TA.26-7-A-j19-1.29.R,8503340,8503006,Opfikon,Zürich Oerlikon,56.038806,61.236866,zug,34140.0,34320.0,720.0,1.0
33155,14.TA.26-2-j19-1.3.H,8503006,8503000,Zürich Oerlikon,Zürich HB,50.33622,79.535214,zug,34860.0,35160.0,1140,1.0

---------------------------------------------
Iteration: 4 - Found routes: 4
Probability: 0.9310417037495115

,trip_id,dep_stop_id,arr_stop_id,dep_stop_name,arr_stop_name,mean,std,transport_name,dep_time_s,arr_time_s,weight,proba
741,walk,8503340,8590620,NaN,NaN,0.0,0.0,NaN,NaN,NaN,355.0,1.0
430151,707.TA.26-10-j19-1.6.R,8590620,8590762,"Glattbrugg, Bahnhof","Rümlang, Bäuler",60.955203,150.091841,tram,31080,31140,389,0.96294
4444,walk,8590762,8573244,NaN,NaN,0.0,0.0,NaN,NaN,NaN,571,1.0
161476,619.TA.26-12-A-j19-1.3.R,8573244,8587799,"Glattbrugg, Unterriet","Kloten Balsberg, Bahnhof",43.463367,152.846872,tram,32040,32100,558,0.998529
2536,walk,8587799,8573213,NaN,NaN,0.0,0.0,NaN,NaN,NaN,582,1.0
151408,525.TA.26-759-j19-1.2.H,8573213,8573205,Werft,"Zürich Flughafen, Bahnhof",78.636992,218.868222,bus,33180,33360,1015.0,0.999726
1290,walk,8573205,8503016,NaN,NaN,0.0,0.0,NaN,NaN,NaN,245.0,1.0
36743,622.TA.26-24-j19-1.185.H,8503016,8503006,Zürich Flughafen,Zürich Oerlikon,52.431065,68.58202,zug,34440.0,34680.0,420.0,0.968564
33155,14.TA.26-2-j19-1.3.H,8503006,8503000,Zürich Oerlikon,Zürich HB,50.33622,79.535214,zug,34860.0,35160.0,1140,1.0

---------------------------------------------
Iteration: 5 - Found routes: 5
Probability: 0.9621716158235646

,trip_id,dep_stop_id,arr_stop_id,dep_stop_name,arr_stop_name,mean,std,transport_name,dep_time_s,arr_time_s,weight,proba
741,walk,8503340,8590620,NaN,NaN,0.0,0.0,NaN,NaN,NaN,355.0,1.0
430069,516.TA.26-12-A-j19-1.3.R,8590620,8590762,"Glattbrugg, Bahnhof","Rümlang, Bäuler",60.955203,150.091841,tram,30960,31020,509,0.995136
4444,walk,8590762,8573244,NaN,NaN,0.0,0.0,NaN,NaN,NaN,571,1.0
161476,619.TA.26-12-A-j19-1.3.R,8573244,8587799,"Glattbrugg, Unterriet","Kloten Balsberg, Bahnhof",43.463367,152.846872,tram,32040,32100,558,0.998529
2536,walk,8587799,8573213,NaN,NaN,0.0,0.0,NaN,NaN,NaN,582,1.0
151408,525.TA.26-759-j19-1.2.H,8573213,8573205,Werft,"Zürich Flughafen, Bahnhof",78.636992,218.868222,bus,33180,33360,1015.0,0.999726
1290,walk,8573205,8503016,NaN,NaN,0.0,0.0,NaN,NaN,NaN,245.0,1.0
36743,622.TA.26-24-j19-1.185.H,8503016,8503006,Zürich Flughafen,Zürich Oerlikon,52.431065,68.58202,zug,34440.0,34680.0,420.0,0.968564
33155,14.TA.26-2-j19-1.3.H,8503006,8503000,Zürich Oerlikon,Zürich HB,50.33622,79.535214,zug,34860.0,35160.0,1140,1.0

---------------------------------------------

-----

In [2]:
df_stops

                             stop_name   latitude  longitude
stop_id
176             Zimmerberg-Basistunnel  47.351678   8.521958
8500926    Oetwil a.d.L., Schweizäcker  47.423627   8.403183
8502075  Zürich Flughafen, Carterminal  47.451024   8.563729
8502186           Dietikon Stoffelbach  47.393327   8.398960
8502186           Dietikon Stoffelbach  47.393400   8.398942
...                                ...        ...        ...
8503088                  Zürich HB SZU  47.377391   8.539358
8503307                    Bassersdorf  47.438570   8.626225
8583870                    Bahnhof Süd  47.357174   8.437013
8590279                Shopping Center  47.420448   8.368517
8590464                        Bahnhof  47.311781   8.524311

[1626 rows x 3 columns]

In [3]:
# df_conns[df_conns['trip_id'] == '25.TA.26-4-A-j19-1.3.H']
df_conns

,trip_id,dep_stop_id,arr_stop_id,dep_stop_name,arr_stop_name,mean,std,dayofweek,transport_name,dep_time_s,arr_time_s
0,279.TA.26-301-j19-1.3.R,8500926,8590737,"Oetwil a.d.L., Schweizäcker","Oetwil an der Limmat, Halde",78.636992,218.868222,1,bus,28080,28080
1,225.TA.26-301-j19-1.3.R,8500926,8590737,"Oetwil a.d.L., Schweizäcker","Oetwil an der Limmat, Halde",78.636992,218.868222,1,bus,24480,24480
2,211.TA.26-301-j19-1.3.R,8500926,8590737,"Oetwil a.d.L., Schweizäcker","Oetwil an der Limmat, Halde",78.636992,218.868222,1,bus,51360,51420
3,205.TA.26-301-j19-1.3.R,8500926,8590737,"Oetwil a.d.L., Schweizäcker","Oetwil an der Limmat, Halde",78.636992,218.868222,1,bus,67560,67620
4,286.TA.26-301-j19-1.3.R,8500926,8590737,"Oetwil a.d.L., Schweizäcker","Oetwil an der Limmat, Halde",78.636992,218.868222,1,bus,70980,71040
...,...,...,...,...,...,...,...,...,...,...,...
1049511,2.TA.6-E02-j19-1.2.R,8596126,8573205,"Zürich, Bus Station",Bahnhof,78.636992,218.868222,7,bus,35700,36600
1049512,5.TA.6-E02-j19-1.4.R,8596126,8573205,"Zürich, Bus Station","Zürich Flughafen, Bahnhof",78.636992,218.868222,7,bus,68700,69600
1049513,5.TA.6-E02-j19-1.4.R,8596126,8573205,"Zürich, Bus Station",Bahnhof,78.636992,218.868222,7,bus,68700,69600
1049514,4.TA.5-E03-j19-1.4.R,8596126,8573205,"Zürich, Bus Station","Zürich Flughafen, Bahnhof",78.636992,218.868222,7,bus,45600,46500
1049515,4.TA.5-E03-j19-1.4.R,8596126,8573205,"Zürich, Bus Station",Bahnhof,78.636992,218.868222,7,bus,45600,46500

In [ ]:
df_walks