In [1]:
# import os
# import warnings

# import numpy as np

import pickle
import pandas as pd
pd.set_option("display.max_rows",40)
# pd.set_option("display.max_columns", 10)
import matplotlib.pyplot as plt
%matplotlib inline
import networkx as nx

from utils import *
from algo import *

from scipy.stats import norm

%load_ext autoreload
%autoreload 2

In [24]:
# norm(loc=1, scale=10).cdf(0.5)
norm.cdf(0.5, loc=1, scale=10)

0.4800611941616275

In [5]:
def path_proba_bad(df_path, end_time):
    class ProbaCalc:
        def __init__(self, end_time):
            self.prev_arr_time = end_time

        def calc_proba(self, row):
            if row['trip_id'] == 'walk':
                self.prev_arr_time = self.prev_arr_time - row['weight']
                return 1
            else:
                proba = norm.cdf(self.prev_arr_time, loc=(row['arr_time_s'] + row['mean']), scale=row['std'])
                self.prev_arr_time = row['arr_time_s']
                return round(proba, 3)

    df = df_path
    prev_arr_time = end_time

    pc = ProbaCalc(end_time)
    df['proba'] = df.apply(pc.calc_proba, axis=1)
    return df

In [18]:
end_id = ZURICH_HB_ID
end_time = Time(h=10).in_seconds()
start_id = 8591192
# start_id = 8590910
# start_id = 8502273

_, cum_proba, path_conn_datas = dijkstra_base(start_id, end_id, end_time)
# df = path_proba_bad(path_conn_datas, end_time)
# df
# prev_arr_time = end_time

# pc = ProbaCalc(end_time)
# df['proba'] = df.apply(pc.calc_proba, axis=1)
# df
print(cum_proba)
path_conn_datas

0.5621906216950262

,trip_id,dep_stop_id,arr_stop_id,mean,std,dep_time_s,arr_time_s,weight,proba
0,692.TA.26-33-B-j19-1.2.H,8591192,8591376,0,66,34200.0,34260.0,60,0.5
53109,692.TA.26-33-B-j19-1.2.H,8591376,8591411,0,66,34260,34320,224,0.99352
9,walk,8591411,8591373,0,0,NaN,NaN,616,1
52849,450.TA.26-7-B-j19-1.1.H,8591373,8591174,0,66,35100,35160,93.0,0.691462
16,walk,8591174,8503088,0,0,NaN,NaN,675.0,1
0,82.TA.26-4-A-j19-1.4.R,8503088,8503090,0,66,35880.0,35940.0,120,0.818349

In [12]:
# for a in neighbors(end_id, end_time, None):
#     print(a)

('82.TA.26-4-A-j19-1.4.R', 8503088, 35880.0, 0.818348929556551, trip_id        82.TA.26-4-A-j19-1.4.R
dep_stop_id                   8503088
arr_stop_id                   8503090
mean                                0
std                                66
dep_time_s                    35880.0
arr_time_s                    35940.0
weight                            120
proba                        0.818349
Name: 0, dtype: object)
('191.TA.26-10-B-j19-1.6.H', 8503051, 35760.0, 0.9654818260027924, trip_id        191.TA.26-10-B-j19-1.6.H
dep_stop_id                     8503051
arr_stop_id                     8503090
mean                                  0
std                                  66
dep_time_s                      35760.0
arr_time_s                      35880.0
weight                              240
proba                          0.965482
Name: 1, dtype: object)
('25.TA.26-4-A-j19-1.3.H', 8503091, 35160.0, 1.0, trip_id        25.TA.26-4-A-j19-1.3.H
dep_stop_id                   8503091
arr_stop_id                   8503090
mean                                0
std                                66
dep_time_s                    35160.0
arr_time_s                    35280.0
weight                            840
proba                             1.0
Name: 2, dtype: object)
('walk', 8591064, 35669, 1, trip_id           walk
dep_stop_id    8591064
arr_stop_id    8503090
mean                 0
std                  0
dep_time_s         NaN
arr_time_s         NaN
weight             331
proba                1
Name: 3, dtype: object)
('walk', 8591367, 35319, 1, trip_id           walk
dep_stop_id    8591367
arr_stop_id    8503090
mean                 0
std                  0
dep_time_s         NaN
arr_time_s         NaN
weight             681
proba                1
Name: 4, dtype: object)
('walk', 8591369, 35622, 1, trip_id           walk
dep_stop_id    8591369
arr_stop_id    8503090
mean                 0
std                  0
dep_time_s         NaN
arr_time_s         NaN
weight             378
proba                1
Name: 5, dtype: object)
('walk', 8591381, 35606, 1, trip_id           walk
dep_stop_id    8591381
arr_stop_id    8503090
mean                 0
std                  0
dep_time_s         NaN
arr_time_s         NaN
weight             394
proba                1
Name: 6, dtype: object)
('walk', 8591427, 35438, 1, trip_id           walk
dep_stop_id    8591427
arr_stop_id    8503090
mean                 0
std                  0
dep_time_s         NaN
arr_time_s         NaN
weight             562
proba                1
Name: 7, dtype: object)

In [11]:
# end_time_s = end_time

# df_conns = get_connections(end_id, end_time, None)

# # print(df_conns)

# # TODO adapt returned values as needed
# for _, conn in df_conns.iterrows():

#     # Read the departure time (for cost/distance calculation)
#     dep_time_s = conn['dep_time_s']

#     mean_arr_time = conn['arr_time_s'] + conn['mean']
#     std_arr_time = conn['std']
#     proba = norm.cdf(end_time, loc=mean_arr_time, scale=std_arr_time)

#     # If departure time is null this is a walking edge then we calculate the
#     # 'departure' time according to the next departure time.
#     if pd.isnull(dep_time_s):
#         dep_time_s = end_time_s - conn['weight']

#         proba = 1

#     conn['proba'] = proba
#     yield conn['trip_id'], conn['dep_stop_id'], dep_time_s, proba, conn

    # yield conn['trip_id'], conn['dep_stop_id'], dep_time_s, conn

82.TA.26-4-A-j19-1.4.R 8503088 35880.0 0.818348929556551 trip_id        82.TA.26-4-A-j19-1.4.R
dep_stop_id                   8503088
arr_stop_id                   8503090
mean                                0
std                                66
dep_time_s                    35880.0
arr_time_s                    35940.0
weight                            120
proba                        0.818349
Name: 0, dtype: object

_____

In [15]:
end_id = ZURICH_HB_ID
end_time = Time(h=10).in_seconds()
# start_id = 8591192
# start_id = 8590910
start_id = 8502273

path, path_conn_datas = dijkstra_base(start_id, end_id, end_time)
# path_conn_datas
path

[('walk', 8502273, 3456.0),
 ('108.TA.1-444-j19-1.6.H', 8572747, 3300.0),
 ('108.TA.1-444-j19-1.6.H', 8580847, 3240.0),
 ('108.TA.1-444-j19-1.6.H', 8572560, 2880.0),
 ('1384.TA.26-200-j19-1.4.R', 8591365, 1200.0),
 ('1557.TA.26-9-B-j19-1.27.H', 8591059, 540.0),
 ('1557.TA.26-9-B-j19-1.27.H', 8591404, 480),
 ('walk', 8591064, 331),
 (None, 8503090, 0)]

In [16]:
path_conn_datas

,trip_id,dep_stop_id,arr_stop_id,mean,std,dep_time_s,arr_time_s,weight
2,walk,8502273,8572747,0,0,NaN,NaN,156.0
0,108.TA.1-444-j19-1.6.H,8572747,8580847,0,66,32700.0,32760.0,60.0
1,108.TA.1-444-j19-1.6.H,8580847,8572560,0,66,32760.0,33120.0,360.0
3,108.TA.1-444-j19-1.6.H,8572560,8591365,0,66,33120.0,34500.0,1680.0
4,1384.TA.26-200-j19-1.4.R,8591365,8591059,0,66,34800.0,35100.0,660.0
0,1557.TA.26-9-B-j19-1.27.H,8591059,8591404,0,66,35460.0,35520.0,60
298086,1557.TA.26-9-B-j19-1.27.H,8591404,8591064,0,66,35520,35640,149
3,walk,8591064,8503090,0,0,NaN,NaN,331

-----

In [232]:
df_stops

                             stop_name   latitude  longitude
stop_id
176             Zimmerberg-Basistunnel  47.351678   8.521958
8500926    Oetwil a.d.L., Schweizäcker  47.423627   8.403183
8502075  Zürich Flughafen, Carterminal  47.451024   8.563729
8502186           Dietikon Stoffelbach  47.393327   8.398960
8502186           Dietikon Stoffelbach  47.393400   8.398942
...                                ...        ...        ...
8503088                  Zürich HB SZU  47.377391   8.539358
8503307                    Bassersdorf  47.438570   8.626225
8583870                    Bahnhof Süd  47.357174   8.437013
8590279                Shopping Center  47.420448   8.368517
8590464                        Bahnhof  47.311781   8.524311

[1591 rows x 3 columns]

In [233]:
df_conns

,trip_id,dep_stop_id,arr_stop_id,mean,std,dep_time_s,arr_time_s
0,273.TA.26-301-j19-1.3.R,8500926,8590737,0,66,38760,38820
1,284.TA.26-301-j19-1.3.R,8500926,8590737,0,66,36960,37020
2,212.TA.26-301-j19-1.3.R,8500926,8590737,0,66,32460,32520
3,182.TA.26-301-j19-1.3.R,8500926,8590737,0,66,29400,29460
4,277.TA.26-301-j19-1.3.R,8500926,8590737,0,66,33360,33420
...,...,...,...,...,...,...,...
315319,305.TA.26-760-j19-1.9.R,8596113,8594261,0,66,37200,37260
315320,82.TA.26-760-j19-1.4.H,8596113,8591065,0,66,33780,33900
315321,1.TA.5-E03-j19-1.1.H,8596126,8502058,0,66,34800,38400
315322,2.TA.6-E02-j19-1.2.R,8596126,8573205,0,66,35700,36600
315323,1.TA.6-E01-j19-1.1.H,8596126,8502064,0,66,31200,36000

In [234]:
df_walks

      arr_stop_id  dep_stop_id  weight
0         8503086          176     507
1         8591392          176     686
2         8590616      8500926     267
3         8590737      8500926     480
4         8503016      8502075     267
...           ...          ...     ...
7413      8591071      8596126     613
7414      8591282      8596126     376
7415      8591368      8596126     281
7416      8591379      8596126     627
7417      8503088      8596126     644

[7418 rows x 3 columns]