In [45]:
# import os
# import warnings

# import numpy as np

import pickle
import pandas as pd
# pd.set_option("display.max_columns", 50)
import matplotlib.pyplot as plt
%matplotlib inline
# import networkx as nx

# from . import utils
import utils

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [46]:
df_stops = utils.load_stops()
df_stops

                             stop_name   latitude  longitude
stop_id
176             Zimmerberg-Basistunnel  47.351678   8.521958
8500926    Oetwil a.d.L., Schweizäcker  47.423627   8.403183
8502075  Zürich Flughafen, Carterminal  47.451024   8.563729
8502186           Dietikon Stoffelbach  47.393327   8.398960
8502186           Dietikon Stoffelbach  47.393400   8.398942
...                                ...        ...        ...
8503088                  Zürich HB SZU  47.377391   8.539358
8503307                    Bassersdorf  47.438570   8.626225
8583870                    Bahnhof Süd  47.357174   8.437013
8590279                Shopping Center  47.420448   8.368517
8590464                        Bahnhof  47.311781   8.524311

[1626 rows x 3 columns]

In [47]:
df_connections = utils.load_stop_times()
df_connections

,trip_id,dep_stop_id,arr_stop_id,dep_time,arr_time,mean,std,dep_time_s,arr_time_s
0,10.TA.1-303-j19-1.2.R,8590273,8590276,8:3,8:4,0,0,28980,29040
1,10.TA.26-660-j19-1.1.R,8576167,8576168,8:24,8:25,0,0,30240,30300
2,10.TA.26-70-A-j19-1.1.R,8591410,8591106,10:38,10:39,0,0,38280,38340
3,100.TA.26-771-j19-1.3.R,8590880,8590892,10:10,10:11,0,0,36600,36660
4,1000.TA.26-215-j19-1.6.H,8583755,8573720,10:45,10:48,0,0,38700,38880
...,...,...,...,...,...,...,...,...,...
291641,99.TA.26-754-j19-1.4.H,8590571,8590570,9:22,9:24,0,0,33720,33840
291642,992.TA.26-201-j19-1.4.R,8503699,8574684,9:29,9:31,0,0,34140,34260
291643,993.TA.26-236-j19-1.12.H,8573731,8503696,10:7,10:8,0,0,36420,36480
291644,995.TA.26-80-j19-1.9.R,8591122,8591249,8:23,8:25,0,0,30180,30300
291645,996.TA.26-9-B-j19-1.25.H,8591343,8591420,9:43,9:44,0,0,34980,35040

,trip_id,dep_stop_id,arr_stop_id,dep_time,arr_time,mean,std
0,10.TA.1-303-j19-1.2.R,8590273,8590276,8:3,8:4,0,0
1,10.TA.26-660-j19-1.1.R,8576167,8576168,8:24,8:25,0,0
2,10.TA.26-70-A-j19-1.1.R,8591410,8591106,10:38,10:39,0,0
3,100.TA.26-771-j19-1.3.R,8590880,8590892,10:10,10:11,0,0
4,1000.TA.26-215-j19-1.6.H,8583755,8573720,10:45,10:48,0,0
...,...,...,...,...,...,...,...
291641,99.TA.26-754-j19-1.4.H,8590571,8590570,9:22,9:24,0,0
291642,992.TA.26-201-j19-1.4.R,8503699,8574684,9:29,9:31,0,0
291643,993.TA.26-236-j19-1.12.H,8573731,8503696,10:7,10:8,0,0
291644,995.TA.26-80-j19-1.9.R,8591122,8591249,8:23,8:25,0,0
291645,996.TA.26-9-B-j19-1.25.H,8591343,8591420,9:43,9:44,0,0

In [34]:
df_connections

,trip_id,dep_stop_id,arr_stop_id,dep_time,arr_time,mean,std,dep_time_s,arr_time_s
0,10.TA.1-303-j19-1.2.R,8590273,8590276,8:3,8:4,0,0,28980,29040
1,10.TA.26-660-j19-1.1.R,8576167,8576168,8:24,8:25,0,0,30240,30300
2,10.TA.26-70-A-j19-1.1.R,8591410,8591106,10:38,10:39,0,0,38280,38340
3,100.TA.26-771-j19-1.3.R,8590880,8590892,10:10,10:11,0,0,36600,36660
4,1000.TA.26-215-j19-1.6.H,8583755,8573720,10:45,10:48,0,0,38700,38880
...,...,...,...,...,...,...,...,...,...
291641,99.TA.26-754-j19-1.4.H,8590571,8590570,9:22,9:24,0,0,33720,33840
291642,992.TA.26-201-j19-1.4.R,8503699,8574684,9:29,9:31,0,0,34140,34260
291643,993.TA.26-236-j19-1.12.H,8573731,8503696,10:7,10:8,0,0,36420,36480
291644,995.TA.26-80-j19-1.9.R,8591122,8591249,8:23,8:25,0,0,30180,30300
291645,996.TA.26-9-B-j19-1.25.H,8591343,8591420,9:43,9:44,0,0,34980,35040