In [67]:
# import os
# import warnings

# import numpy as np

import pickle
import pandas as pd
pd.set_option("display.max_rows",10)
# pd.set_option("display.max_columns", 10)
import matplotlib.pyplot as plt
%matplotlib inline
import networkx as nx


from utils import *
from algo import *

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [69]:
df_stops = filter_stops_by_distance_from_zurich_hb(load_df_stops(), 1)
df_stops

                      stop_name   latitude  longitude
stop_id
8503000               Zürich HB  47.378176   8.540212
8503010             Zürich Enge  47.364098   8.530824
8503011         Zürich Wiedikon  47.371478   8.523485
8503088           Zürich HB SZU  47.377428   8.539169
8503090           Zürich Selnau  47.372239   8.531722
...                         ...        ...        ...
8591381     Zürich, Stauffacher  47.373425   8.529252
8591384  Zürich, Stockerstrasse  47.367871   8.535424
8591404   Zürich, Tunnelstrasse  47.366143   8.532531
8591427            Zürich, Werd  47.372324   8.526845
8503088           Zürich HB SZU  47.377391   8.539358

[40 rows x 3 columns]

In [51]:
df_connections = filter_connections_by_stops(load_df_connections(), df_stops)
df_connections

,trip_id,dep_stop_id,arr_stop_id,dep_time,arr_time,mean,std,dep_time_s,arr_time_s
0,273.TA.26-301-j19-1.3.R,8500926,8590737,10:46,10:47,0,66,38760,38820
1,284.TA.26-301-j19-1.3.R,8500926,8590737,10:16,10:17,0,66,36960,37020
2,212.TA.26-301-j19-1.3.R,8500926,8590737,9:1,9:2,0,66,32460,32520
3,182.TA.26-301-j19-1.3.R,8500926,8590737,8:10,8:11,0,66,29400,29460
4,277.TA.26-301-j19-1.3.R,8500926,8590737,9:16,9:17,0,66,33360,33420
...,...,...,...,...,...,...,...,...,...
315319,305.TA.26-760-j19-1.9.R,8596113,8594261,10:20,10:21,0,66,37200,37260
315320,82.TA.26-760-j19-1.4.H,8596113,8591065,9:23,9:25,0,66,33780,33900
315321,1.TA.5-E03-j19-1.1.H,8596126,8502058,9:40,10:40,0,66,34800,38400
315322,2.TA.6-E02-j19-1.2.R,8596126,8573205,9:55,10:10,0,66,35700,36600
315323,1.TA.6-E01-j19-1.1.H,8596126,8502064,8:40,10:0,0,66,31200,36000

In [52]:
df_connections = filter_by_time_interval(df_connections, Time(h=9), Time(h=10))
df_connections

,trip_id,dep_stop_id,arr_stop_id,dep_time,arr_time,mean,std,dep_time_s,arr_time_s
2,212.TA.26-301-j19-1.3.R,8500926,8590737,9:1,9:2,0,66,32460,32520
4,277.TA.26-301-j19-1.3.R,8500926,8590737,9:16,9:17,0,66,33360,33420
6,159.TA.26-301-j19-1.3.R,8500926,8590737,9:10,9:11,0,66,33000,33060
9,203.TA.26-301-j19-1.3.R,8500926,8590737,9:16,9:17,0,66,33360,33420
10,191.TA.26-301-j19-1.3.R,8500926,8590737,9:40,9:41,0,66,34800,34860
...,...,...,...,...,...,...,...,...,...
315305,266.TA.26-760-j19-1.8.R,8596113,8594261,9:35,9:36,0,66,34500,34560
315310,22.TA.26-760-j19-1.2.H,8596113,8591065,9:38,9:40,0,66,34680,34800
315314,307.TA.26-760-j19-1.9.R,8596113,8594261,9:50,9:51,0,66,35400,35460
315315,97.TA.26-760-j19-1.4.H,8596113,8591065,9:53,9:55,0,66,35580,35700
315320,82.TA.26-760-j19-1.4.H,8596113,8591065,9:23,9:25,0,66,33780,33900

In [53]:
Time.from_seconds(35640)

Time(9:54:0)

In [ ]:
# def get_connections_walking(df_connections, stop_id, end_time_s, max_wait_time_s=MAX_WAIT_TIME_S):

In [59]:
# Time(10).seconds() - Time(9).seconds()

Time(h=10) + Time(m=30)

Time(10:30:0)

In [56]:
conns_to_zurich_hb = get_connections_to_strict(df_connections, ZURICH_HB_ID, Time(h=10).in_seconds())
conns_to_zurich_hb

,trip_id,dep_stop_id,arr_stop_id,dep_time,arr_time,mean,std,dep_time_s,arr_time_s
17873,12.TA.26-10-B-j19-1.3.H,8503051,8503090,9:42,9:44,0,66,34920,35040
17875,189.TA.26-10-B-j19-1.6.H,8503051,8503090,9:16,9:18,0,66,33360,33480
17885,191.TA.26-10-B-j19-1.6.H,8503051,8503090,9:56,9:58,0,66,35760,35880
17886,13.TA.26-10-B-j19-1.3.H,8503051,8503090,9:52,9:54,0,66,35520,35640
17890,190.TA.26-10-B-j19-1.6.H,8503051,8503090,9:36,9:38,0,66,34560,34680
...,...,...,...,...,...,...,...,...,...
21124,89.TA.26-10-B-j19-1.4.R,8503088,8503090,9:55,9:56,0,66,35700,35760
21131,82.TA.26-4-A-j19-1.4.R,8503088,8503090,9:58,9:59,0,66,35880,35940
21132,82.TA.26-4-A-j19-1.4.R,8503088,8503090,9:58,9:59,0,66,35880,35940
21240,25.TA.26-4-A-j19-1.3.H,8503091,8503090,9:46,9:48,0,66,35160,35280
21253,24.TA.26-4-A-j19-1.3.H,8503091,8503090,9:26,9:28,0,66,33960,34080

In [57]:
# G = nx.from_pandas_edgelist(conns_to_zurich_hb, source='arr_stop_id', target='dep_stop_id', edge_attr=['arr_time'], create_using=nx.MultiDiGraph)

In [58]:
# nx.draw(G)

In [33]:
type(ZURICH_HB_ID)

int