In [1]:

import pickle
import pandas as pd
pd.set_option("display.max_rows",40)
# pd.set_option("display.max_columns", 10)
import matplotlib.pyplot as plt
%matplotlib inline

from utils import *
from algo import *

from scipy.stats import norm

%load_ext autoreload
%autoreload 2

_____

In [2]:
END_TIME = Time(h=10).in_seconds()
END_ID = ZURICH_HB_ID
# START_ID = ZURICH_WERD_ID
START_ID = 8591192
DAY_OF_WEEK = 1     # Val

routes_data = generate_routes(START_ID, END_ID, END_TIME, DAY_OF_WEEK, verbose=True)

Starting routing
Iteration: 1 - Found routes: 1
Probability: 0.9999915761091429

,trip_id,dep_stop_id,arr_stop_id,mean,std,dep_time_s,arr_time_s,weight,proba
672,walk,8591192,8591376,0,0,NaN,NaN,493,1.0
399661,780.TA.26-33-B-j19-1.2.H,8591376,8591411,0,66,33960,34020,524,1.0
1277,walk,8591411,8591373,0,0,NaN,NaN,616,1.0
394905,400.TA.26-7-B-j19-1.1.H,8591373,8591174,0,66,35100,35160,344,0.999992
617,walk,8591174,8503000,0,0,NaN,NaN,556,1.0

---------------------------------------------
Iteration: 2 - Found routes: 2
Probability: 0.9999915761091429

,trip_id,dep_stop_id,arr_stop_id,mean,std,dep_time_s,arr_time_s,weight,proba
672,walk,8591192,8591376,0,0,NaN,NaN,493,1.0
399661,780.TA.26-33-B-j19-1.2.H,8591376,8591411,0,66,33960,34020,524,1.0
1277,walk,8591411,8591373,0,0,NaN,NaN,616,1.0
394699,400.TA.26-7-B-j19-1.1.H,8591373,8591174,0,66,35100,35160,344,0.999992
617,walk,8591174,8503000,0,0,NaN,NaN,556,1.0

---------------------------------------------
Iteration: 3 - Found routes: 3
Probability: 0.9999999995356691

,trip_id,dep_stop_id,arr_stop_id,mean,std,dep_time_s,arr_time_s,weight,proba
672,walk,8591192,8591376,0,0,NaN,NaN,493,1.0
399873,781.TA.26-33-B-j19-1.2.H,8591376,8591411,0,66,33540,33600,464,1.0
1277,walk,8591411,8591373,0,0,NaN,NaN,616,1.0
394993,584.TA.26-7-B-j19-1.1.H,8591373,8591174,0,66,34620,34680,824,1.0
617,walk,8591174,8503000,0,0,NaN,NaN,556,1.0

---------------------------------------------
Iteration: 4 - Found routes: 4
Probability: 0.9999999995356691

,trip_id,dep_stop_id,arr_stop_id,mean,std,dep_time_s,arr_time_s,weight,proba
672,walk,8591192,8591376,0,0,NaN,NaN,493,1.0
400038,781.TA.26-33-B-j19-1.2.H,8591376,8591411,0,66,33540,33600,464,1.0
1277,walk,8591411,8591373,0,0,NaN,NaN,616,1.0
394993,584.TA.26-7-B-j19-1.1.H,8591373,8591174,0,66,34620,34680,824,1.0
617,walk,8591174,8503000,0,0,NaN,NaN,556,1.0

---------------------------------------------
Iteration: 5 - Found routes: 5
Probability: 1.0

,trip_id,dep_stop_id,arr_stop_id,mean,std,dep_time_s,arr_time_s,weight,proba
672,walk,8591192,8591376,0,0,NaN,NaN,493,1.0
399781,783.TA.26-33-B-j19-1.2.H,8591376,8591411,0,66,32640,32700,1364,1.0
1277,walk,8591411,8591373,0,0,NaN,NaN,616,1.0
394993,584.TA.26-7-B-j19-1.1.H,8591373,8591174,0,66,34620,34680,824,1.0
617,walk,8591174,8503000,0,0,NaN,NaN,556,1.0

---------------------------------------------

-----

In [3]:
df_stops

                          stop_name   latitude  longitude
stop_id
8502572    Zürich, Goldbrunnenplatz  47.370292   8.513918
8503000                   Zürich HB  47.378176   8.540212
8503003          Zürich Stadelhofen  47.366611   8.548485
8503010                 Zürich Enge  47.364098   8.530824
8503011             Zürich Wiedikon  47.371478   8.523485
...                             ...        ...        ...
8591824                Zürich, Binz  47.362967   8.518320
8594239           Zürich, Schiffbau  47.388030   8.519865
8594255  Zürich, Schanzackerstrasse  47.392025   8.547434
8596126         Zürich, Bus Station  47.381066   8.537301
8503088               Zürich HB SZU  47.377391   8.539358

[207 rows x 3 columns]

In [21]:
# df_conns[df_conns['trip_id'] == '25.TA.26-4-A-j19-1.3.H']

,trip_id,dep_stop_id,arr_stop_id,mean,std,dayofweek,dep_time_s,arr_time_s
25343,25.TA.26-4-A-j19-1.3.H,8503087,8503091,0,66,1,35040,35160
25409,25.TA.26-4-A-j19-1.3.H,8503087,8503091,0,66,1,35040,35160
25484,25.TA.26-4-A-j19-1.3.H,8503087,8503091,0,66,2,35040,35160
25550,25.TA.26-4-A-j19-1.3.H,8503087,8503091,0,66,2,35040,35160
25625,25.TA.26-4-A-j19-1.3.H,8503087,8503091,0,66,3,35040,35160
...,...,...,...,...,...,...,...,...
30260,25.TA.26-4-A-j19-1.3.H,8503091,8503090,0,66,5,35160,35280
30314,25.TA.26-4-A-j19-1.3.H,8503091,8503090,0,66,6,35160,35280
30358,25.TA.26-4-A-j19-1.3.H,8503091,8503090,0,66,6,35160,35280
30398,25.TA.26-4-A-j19-1.3.H,8503091,8503090,0,66,7,35160,35280
30442,25.TA.26-4-A-j19-1.3.H,8503091,8503090,0,66,7,35160,35280

In [234]:
df_walks

      arr_stop_id  dep_stop_id  weight
0         8503086          176     507
1         8591392          176     686
2         8590616      8500926     267
3         8590737      8500926     480
4         8503016      8502075     267
...           ...          ...     ...
7413      8591071      8596126     613
7414      8591282      8596126     376
7415      8591368      8596126     281
7416      8591379      8596126     627
7417      8503088      8596126     644

[7418 rows x 3 columns]