In [38]:
# import os
# import warnings

# import numpy as np

import pickle
import pandas as pd
pd.set_option("display.max_rows",40)
# pd.set_option("display.max_columns", 10)
import matplotlib.pyplot as plt
%matplotlib inline

from utils import *
from algo import *

from scipy.stats import norm

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

_____

In [39]:
END_TIME = Time(h=10).in_seconds()
END_ID = ZURICH_HB_ID
# START_ID = ZURICH_WERD_ID
START_ID = 8591192

In [40]:
routes_data = generate_routes(START_ID, END_ID, END_TIME, verbose=True)

Starting routing
Iteration: 1 - Found routes: 1
Probability: 0.87923876477745

,trip_id,dep_stop_id,arr_stop_id,mean,std,dep_time_s,arr_time_s,weight,proba
4,walk,8591192,8591412,0,0,NaN,NaN,551,1.0
85462,2529.TA.26-6-B-j19-1.32.H,8591412,8591303,0,66,34680,34740,216,0.990952
9,walk,8591303,8591287,0,0,NaN,NaN,684,1.0
59137,3352.TA.26-31-j19-1.28.R,8591287,8587349,0,66,35580,35640,140,0.887267
12,walk,8587349,8503000,0,0,NaN,NaN,280,1.0

---------------------------------------------
Iteration: 2 - Found routes: 2
Probability: 0.87923876477745

,trip_id,dep_stop_id,arr_stop_id,mean,std,dep_time_s,arr_time_s,weight,proba
4,walk,8591192,8591412,0,0,NaN,NaN,551,1.0
85462,2529.TA.26-6-B-j19-1.32.H,8591412,8591303,0,66,34680,34740,216,0.990952
9,walk,8591303,8591287,0,0,NaN,NaN,684,1.0
59162,3095.TA.26-31-j19-1.28.R,8591287,8587349,0,66,35580,35640,140,0.887267
12,walk,8587349,8503000,0,0,NaN,NaN,280,1.0

---------------------------------------------
Iteration: 3 - Found routes: 3
Probability: 0.9680219622574603

,trip_id,dep_stop_id,arr_stop_id,mean,std,dep_time_s,arr_time_s,weight,proba
4,walk,8591192,8591412,0,0,NaN,NaN,551.0,1.0
0,262.TA.26-5-B-j19-1.3.H,8591412,8591303,0,66,34500.0,34620.0,276,0.990952
62406,60.TA.26-5-B-j19-1.3.H,8591303,8591220,0,66,34800,34920,253,0.978056
7,walk,8591220,8591287,0,0,NaN,NaN,407,1.0
59020,3414.TA.26-31-j19-1.28.R,8591287,8587349,0,66,35460,35520,260,0.998778
12,walk,8587349,8503000,0,0,NaN,NaN,280,1.0

---------------------------------------------
Iteration: 4 - Found routes: 4
Probability: 0.8057224179690978

,trip_id,dep_stop_id,arr_stop_id,mean,std,dep_time_s,arr_time_s,weight,proba
5,walk,8591192,8591376,0,0,NaN,NaN,493,1.0
76599,713.TA.26-33-B-j19-1.2.H,8591376,8591411,0,66,30660,30720,189,0.974682
10,walk,8591411,8591156,0,0,NaN,NaN,711,1.0
34575,60.TA.26-39-j19-1.2.R,8591156,8591336,0,66,31560,31620,695,1.0
7,walk,8591336,8591255,0,0,NaN,NaN,625,1.0
52694,3585.TA.26-9-B-j19-1.45.R,8591255,8591244,0,66,32880,32880,71.0,0.858982
6,walk,8591244,8591406,0,0,NaN,NaN,469.0,1.0
2,3148.TA.26-9-B-j19-1.44.R,8591406,8591276,0,66,33420.0,33480.0,240.0,0.996807
3,833.TA.26-69-j19-1.4.R,8591276,8591101,0,66,33660.0,33780.0,240,0.965482
29189,947.TA.26-32-j19-1.7.H,8591101,8591240,0,66,33900,34020,381.0,0.999962
2,walk,8591240,8503015,0,0,NaN,NaN,579.0,1.0
3,623.TA.26-24-j19-1.198.H,8503015,8503000,0,66,34860.0,35160.0,1140,1.0

---------------------------------------------
Iteration: 5 - Found routes: 5
Probability: 0.8197260220659326

,trip_id,dep_stop_id,arr_stop_id,mean,std,dep_time_s,arr_time_s,weight,proba
1,452.TA.26-33E-j19-1.2.R,8591192,8591376,0,66,30900.0,30960.0,376,0.999999
76504,786.TA.26-33-B-j19-1.2.H,8591376,8591411,0,66,31320,31380,218,0.991666
15,walk,8591411,8591362,0,0,NaN,NaN,442,1.0
71662,700.TA.26-33-B-j19-1.2.H,8591362,8591339,0,66,31980,32040,319,0.999956
8,walk,8591339,8591255,0,0,NaN,NaN,521,1.0
52696,2493.TA.26-9-B-j19-1.41.R,8591255,8591244,0,66,32820,32880,131.0,0.858982
6,walk,8591244,8591406,0,0,NaN,NaN,469.0,1.0
2,3148.TA.26-9-B-j19-1.44.R,8591406,8591276,0,66,33420.0,33480.0,240.0,0.996807
3,833.TA.26-69-j19-1.4.R,8591276,8591101,0,66,33660.0,33780.0,240,0.965482
29189,947.TA.26-32-j19-1.7.H,8591101,8591240,0,66,33900,34020,381.0,0.999962
2,walk,8591240,8503015,0,0,NaN,NaN,579.0,1.0
3,623.TA.26-24-j19-1.198.H,8503015,8503000,0,66,34860.0,35160.0,1140,1.0

---------------------------------------------

-----

In [21]:
df_stops

                          stop_name   latitude  longitude
stop_id
8502572    Zürich, Goldbrunnenplatz  47.370292   8.513918
8503000                   Zürich HB  47.378176   8.540212
8503003          Zürich Stadelhofen  47.366611   8.548485
8503010                 Zürich Enge  47.364098   8.530824
8503011             Zürich Wiedikon  47.371478   8.523485
...                             ...        ...        ...
8591824                Zürich, Binz  47.362967   8.518320
8594239           Zürich, Schiffbau  47.388030   8.519865
8594255  Zürich, Schanzackerstrasse  47.392025   8.547434
8596126         Zürich, Bus Station  47.381066   8.537301
8503088               Zürich HB SZU  47.377391   8.539358

[207 rows x 3 columns]

In [233]:
df_conns

,trip_id,dep_stop_id,arr_stop_id,mean,std,dep_time_s,arr_time_s
0,273.TA.26-301-j19-1.3.R,8500926,8590737,0,66,38760,38820
1,284.TA.26-301-j19-1.3.R,8500926,8590737,0,66,36960,37020
2,212.TA.26-301-j19-1.3.R,8500926,8590737,0,66,32460,32520
3,182.TA.26-301-j19-1.3.R,8500926,8590737,0,66,29400,29460
4,277.TA.26-301-j19-1.3.R,8500926,8590737,0,66,33360,33420
...,...,...,...,...,...,...,...
315319,305.TA.26-760-j19-1.9.R,8596113,8594261,0,66,37200,37260
315320,82.TA.26-760-j19-1.4.H,8596113,8591065,0,66,33780,33900
315321,1.TA.5-E03-j19-1.1.H,8596126,8502058,0,66,34800,38400
315322,2.TA.6-E02-j19-1.2.R,8596126,8573205,0,66,35700,36600
315323,1.TA.6-E01-j19-1.1.H,8596126,8502064,0,66,31200,36000

In [234]:
df_walks

      arr_stop_id  dep_stop_id  weight
0         8503086          176     507
1         8591392          176     686
2         8590616      8500926     267
3         8590737      8500926     480
4         8503016      8502075     267
...           ...          ...     ...
7413      8591071      8596126     613
7414      8591282      8596126     376
7415      8591368      8596126     281
7416      8591379      8596126     627
7417      8503088      8596126     644

[7418 rows x 3 columns]