In [171]:
# import os
# import warnings

# import numpy as np

import pickle
import pandas as pd
pd.set_option("display.max_rows",40)
# pd.set_option("display.max_columns", 10)
import matplotlib.pyplot as plt
%matplotlib inline
import networkx as nx


from utils import *
from algo import *

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [178]:
dest_stop_id = ZURICH_HB_ID
end_time_s = Time(h=10).in_seconds()
# prev_trip_id = None
prev_trip_id = 'blah'
# prev_trip_id = 'walk'

In [180]:
df_n = get_connections(dest_stop_id, end_time_s, prev_trip_id)
df_n

,trip_id,dep_stop_id,arr_stop_id,mean,std,dep_time_s,arr_time_s,weight
0,191.TA.26-10-B-j19-1.6.H,8503051,8503090,0,66,35760.0,35880.0,240
1,41.TA.79-10-B-j19-1.3.H,8503088,8503090,0,66,35700.0,35760.0,300
2,25.TA.26-4-A-j19-1.3.H,8503091,8503090,0,66,35160.0,35280.0,840
3,walk,8591064,8503090,0,0,NaN,NaN,331
4,walk,8591367,8503090,0,0,NaN,NaN,681
5,walk,8591369,8503090,0,0,NaN,NaN,378
6,walk,8591381,8503090,0,0,NaN,NaN,394
7,walk,8591427,8503090,0,0,NaN,NaN,562

In [203]:
for u in neighbours(dest_stop_id, end_time_s, prev_trip_id):
    print(u)

('191.TA.26-10-B-j19-1.6.H', 8503051, 240)
('41.TA.79-10-B-j19-1.3.H', 8503088, 300)
('25.TA.26-4-A-j19-1.3.H', 8503091, 840)
('walk', 8591064, 331)
('walk', 8591367, 681)
('walk', 8591369, 378)
('walk', 8591381, 394)
('walk', 8591427, 562)

In [193]:
a = df_n.to_numpy()

In [194]:
a

array([['191.TA.26-10-B-j19-1.6.H', 8503051, 8503090, 0, 66, 35760.0,
        35880.0, 240],
       ['41.TA.79-10-B-j19-1.3.H', 8503088, 8503090, 0, 66, 35700.0,
        35760.0, 300],
       ['25.TA.26-4-A-j19-1.3.H', 8503091, 8503090, 0, 66, 35160.0,
        35280.0, 840],
       ['walk', 8591064, 8503090, 0, 0, nan, nan, 331],
       ['walk', 8591367, 8503090, 0, 0, nan, nan, 681],
       ['walk', 8591369, 8503090, 0, 0, nan, nan, 378],
       ['walk', 8591381, 8503090, 0, 0, nan, nan, 394],
       ['walk', 8591427, 8503090, 0, 0, nan, nan, 562]], dtype=object)

In [200]:
# for _,v in df_n.iterrows():
#     print(v)
#     yield v['trip_id'], v['dep_stop_id'], v['weight']
#     break

trip_id        191.TA.26-10-B-j19-1.6.H
dep_stop_id                     8503051
arr_stop_id                     8503090
mean                                  0
std                                  66
dep_time_s                      35760.0
arr_time_s                      35880.0
weight                              240
Name: 0, dtype: object

120

In [12]:
df_stops

                        stop_name   latitude  longitude
stop_id
8502572  Zürich, Goldbrunnenplatz  47.370292   8.513918
8503000                 Zürich HB  47.378176   8.540212
8503003        Zürich Stadelhofen  47.366611   8.548485
8503010               Zürich Enge  47.364098   8.530824
8503011           Zürich Wiedikon  47.371478   8.523485
...                           ...        ...        ...
8591448  Zürich, Zypressenstrasse  47.376692   8.513765
8591824              Zürich, Binz  47.362967   8.518320
8594239         Zürich, Schiffbau  47.388030   8.519865
8596126       Zürich, Bus Station  47.381066   8.537301
8503088             Zürich HB SZU  47.377391   8.539358

[121 rows x 3 columns]

In [13]:
df_conns

,trip_id,dep_stop_id,arr_stop_id,mean,std,dep_time_s,arr_time_s
0,1137.TA.26-215-j19-1.6.H,8502572,8580912,0,66,30000,30120
1,1345.TA.26-215-j19-1.6.H,8502572,8580912,0,66,30000,30120
2,236.TA.26-14-A-j19-1.2.R,8502572,8591341,0,66,36480,36600
3,3833.TA.26-9-B-j19-1.46.R,8502572,8591341,0,66,33600,33720
4,1233.TA.26-32-j19-1.7.H,8502572,8591195,0,66,34260,34380
...,...,...,...,...,...,...,...
63047,804.TA.26-72-j19-1.5.H,8594239,8591060,0,66,39420,39480
63048,823.TA.26-72-j19-1.5.H,8594239,8591060,0,66,30840,30960
63049,1.TA.5-E03-j19-1.1.H,8596126,8502058,0,66,34800,38400
63050,2.TA.6-E02-j19-1.2.R,8596126,8573205,0,66,35700,36600
63051,1.TA.6-E01-j19-1.1.H,8596126,8502064,0,66,31200,36000

In [14]:
df_walks

     dep_stop_id  weight  arr_stop_id
0        8502572     481      8591075
1        8502572     450      8591195
2        8502572     484      8591341
3        8502572     389      8591390
4        8502572     245      8591447
..           ...     ...          ...
942      8596126     493      8591071
943      8596126     256      8591282
944      8596126     161      8591368
945      8596126     507      8591379
946      8596126     524      8503088

[947 rows x 3 columns]