In [26]:
# import os
# import warnings

# import numpy as np

import pickle
import pandas as pd
pd.set_option("display.max_rows",10)
# pd.set_option("display.max_columns", 10)
import matplotlib.pyplot as plt
%matplotlib inline
# import networkx as nx


from utils import *

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [27]:
df_stops = filter_stops_by_distance_from_zurich_hb(load_df_stops(), 1)
df_stops

                      stop_name   latitude  longitude
stop_id
8503000               Zürich HB  47.378176   8.540212
8503010             Zürich Enge  47.364098   8.530824
8503011         Zürich Wiedikon  47.371478   8.523485
8503088           Zürich HB SZU  47.377428   8.539169
8503090           Zürich Selnau  47.372239   8.531722
...                         ...        ...        ...
8591381     Zürich, Stauffacher  47.373425   8.529252
8591384  Zürich, Stockerstrasse  47.367871   8.535424
8591404   Zürich, Tunnelstrasse  47.366143   8.532531
8591427            Zürich, Werd  47.372324   8.526845
8503088           Zürich HB SZU  47.377391   8.539358

[40 rows x 3 columns]

In [34]:
df_connections = filter_connections_by_stops(load_df_connections(), df_stops)
df_connections

,trip_id,dep_stop_id,arr_stop_id,dep_time,arr_time,mean,std,dep_time_s,arr_time_s
0,283.TA.26-12-j19-1.106.H,8503000,8503003,9:16,9:19,0,0,33360,33540
1,337.TA.26-7-A-j19-1.113.H,8503000,8503020,10:19,10:21,0,0,37140,37260
2,421.TA.26-11-j19-1.132.H,8503000,8503003,8:31,8:34,0,0,30660,30840
3,152.TA.16-5-j19-1.26.R,8503000,8500218,8:30,9:0,0,0,30600,32400
4,21.TA.20-2-j19-1.5.R,8503000,8502204,8:32,8:58,0,0,30720,32280
...,...,...,...,...,...,...,...,...,...
26275,1996.TA.26-8-C-j19-1.31.H,8591427,8591381,10:17,10:18,0,0,37020,37080
26276,2140.TA.26-14-A-j19-1.25.H,8591427,8573710,9:13,9:14,0,0,33180,33240
26277,1096.TA.26-14-A-j19-1.23.R,8591427,8591381,9:19,9:20,0,0,33540,33600
26278,1229.TA.26-14-A-j19-1.24.R,8591427,8591381,10:19,10:20,0,0,37140,37200
26279,4232.TA.26-9-B-j19-1.49.H,8591427,8573710,9:26,9:27,0,0,33960,34020

In [35]:
df_connections = filter_by_hour_interval(df_connections, 9, 10)
df_connections

,trip_id,dep_stop_id,arr_stop_id,dep_time,arr_time,mean,std,dep_time_s,arr_time_s
0,283.TA.26-12-j19-1.106.H,8503000,8503003,9:16,9:19,0,0,33360,33540
5,237.TA.26-14-j19-1.48.R,8503000,8503006,9:12,9:16,0,0,33120,33360
14,61.TA.26-11-j19-1.40.H,8503000,8503003,9:1,9:4,0,0,32460,32640
17,133.TA.26-2-j19-1.46.R,8503000,8503006,9:14,9:18,0,0,33240,33480
19,293.TA.6-5-j19-1.108.R,8503000,8502113,9:3,9:27,0,0,32580,34020
...,...,...,...,...,...,...,...,...,...
26269,2011.TA.26-8-C-j19-1.31.H,8591427,8591381,9:54,9:56,0,0,35640,35760
26270,2441.TA.26-9-B-j19-1.41.R,8591427,8591381,9:29,9:30,0,0,34140,34200
26276,2140.TA.26-14-A-j19-1.25.H,8591427,8573710,9:13,9:14,0,0,33180,33240
26277,1096.TA.26-14-A-j19-1.23.R,8591427,8591381,9:19,9:20,0,0,33540,33600
26279,4232.TA.26-9-B-j19-1.49.H,8591427,8573710,9:26,9:27,0,0,33960,34020