In [6]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process as fuzz_process

# import os
# import warnings

# import numpy as np

import pickle
import pandas as pd
# pd.set_option("display.max_columns", 50)
import matplotlib.pyplot as plt
%matplotlib inline
# import networkx as nx

# from . import utils
# import utils
from utils import *

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
# pd.read_csv('../data/final_micheal_timetable.csv')
load_df_connections2()

,trip_id,dep_stop_id,arr_stop_id,mean,std,dayofweek,dep_time_s,arr_time_s
0,1.TA.26-766-j19-1.1.R,8576154,8576155,0,66,1,27720,27780
1,1.TA.26-766-j19-1.1.R,8588315,8596100,0,66,1,27840,27900
2,1.TA.26-766-j19-1.1.R,8587420,8580435,0,66,1,27600,27660
3,1.TA.26-766-j19-1.1.R,8590503,8576159,0,66,1,28020,28080
4,1.TA.26-766-j19-1.1.R,8580435,8576154,0,66,1,27660,27720
...,...,...,...,...,...,...,...,...
1296748,979.TA.26-5-B-j19-1.18.R,8591362,8591433,0,66,7,40500,40560
1296749,979.TA.26-5-B-j19-1.18.R,8591244,8591255,0,66,7,40320,40380
1296750,979.TA.26-5-B-j19-1.18.R,8591303,8591412,0,66,7,40860,40920
1296751,979.TA.26-5-B-j19-1.18.R,8591123,8591303,0,66,7,40740,40860
1296752,979.TA.26-5-B-j19-1.18.R,8591255,8591229,0,66,7,40380,40440