In [1]:
# import os
# import warnings

# import numpy as np

import pickle
import pandas as pd
pd.set_option("display.max_rows",10)
# pd.set_option("display.max_columns", 10)
import matplotlib.pyplot as plt
%matplotlib inline
import networkx as nx


from utils import *
from algo import *

%load_ext autoreload
%autoreload 2

In [2]:
df_stops = filter_stops_by_distance_from_zurich_hb(load_df_stops(), 15000)
df_stops

                             stop_name   latitude  longitude
stop_id
176             Zimmerberg-Basistunnel  47.351678   8.521958
8500926    Oetwil a.d.L., Schweizäcker  47.423627   8.403183
8502075  Zürich Flughafen, Carterminal  47.451024   8.563729
8502186           Dietikon Stoffelbach  47.393327   8.398960
8502186           Dietikon Stoffelbach  47.393400   8.398942
...                                ...        ...        ...
8503088                  Zürich HB SZU  47.377391   8.539358
8503307                    Bassersdorf  47.438570   8.626225
8583870                    Bahnhof Süd  47.357174   8.437013
8590279                Shopping Center  47.420448   8.368517
8590464                        Bahnhof  47.311781   8.524311

[1591 rows x 3 columns]

In [3]:
df_walks = walk_all_edge_list(df_stops)
df_walks

      dep_stop_id  weight  arr_stop_id
0         8503086     507          176
1         8591392     686          176
2         8590616     267      8500926
3         8590737     480      8500926
4         8503016     267      8502075
...           ...     ...          ...
7019      8590465     433      8590464
7020      8590474     468      8590464
7021      8590478     325      8590464
7022      8590485     631      8590464
7023      8595717     663      8590464

[7024 rows x 3 columns]

In [4]:
df_walks.to_csv(PATH_WALK_EDGES_15K)

In [137]:
# G = nx.from_pandas_edgelist(df_walk, source='arr_stop_id', target='dep_stop_id', edge_attr=['weight'], create_using=nx.MultiDiGraph)
# nx.draw(G)

In [152]:
a = load_df_walks()
a

      dep_stop_id  weight  arr_stop_id
0         8503086     387          176
1         8591392     566          176
2         8590616     147      8500926
3         8590737     360      8500926
4         8503016     147      8502075
...           ...     ...          ...
7019      8590465     313      8590464
7020      8590474     348      8590464
7021      8590478     205      8590464
7022      8590485     511      8590464
7023      8595717     543      8590464

[7024 rows x 3 columns]

In [14]:
df_walks[(~(df_walks['weight'] < 200)) & True]

      dep_stop_id  weight  arr_stop_id
0         8503086     507          176
1         8591392     686          176
2         8590616     267      8500926
3         8590737     480      8500926
4         8503016     267      8502075
...           ...     ...          ...
7019      8590465     433      8590464
7020      8590474     468      8590464
7021      8590478     325      8590464
7022      8590485     631      8590464
7023      8595717     663      8590464

[6852 rows x 3 columns]