In [65]:
# import os
# import warnings

# import numpy as np

import pickle
import pandas as pd
pd.set_option("display.max_rows",10)
# pd.set_option("display.max_columns", 10)
import matplotlib.pyplot as plt
%matplotlib inline
import networkx as nx


from utils import *
from algo import *

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [72]:
df_stops = filter_stops_by_distance_from_zurich_hb(load_df_stops(), 1000)
df_stops

                      stop_name   latitude  longitude
stop_id
8503000               Zürich HB  47.378176   8.540212
8503010             Zürich Enge  47.364098   8.530824
8503011         Zürich Wiedikon  47.371478   8.523485
8503088           Zürich HB SZU  47.377428   8.539169
8503090           Zürich Selnau  47.372239   8.531722
...                         ...        ...        ...
8591381     Zürich, Stauffacher  47.373425   8.529252
8591384  Zürich, Stockerstrasse  47.367871   8.535424
8591404   Zürich, Tunnelstrasse  47.366143   8.532531
8591427            Zürich, Werd  47.372324   8.526845
8503088           Zürich HB SZU  47.377391   8.539358

[40 rows x 3 columns]

In [74]:
build_walk_time_data(df_stops)

,stop_name,latitude,longitude,walk_time
stop_id,,,,
8503000,Zürich HB,47.378176,8.540212,"[(8503088, 130), (8503088, 137), (8587348, 147..."
8503010,Zürich Enge,47.364098,8.530824,"[(8591058, 67), (8591059, 69), (8507183, 301),..."
8503011,Zürich Wiedikon,47.371478,8.523485,"[(8573710, 63), (8591427, 324), (8591079, 405)..."
8503088,Zürich HB SZU,47.377428,8.539169,"[(8587348, 29), (8503000, 137), (8591067, 162)..."
8503090,Zürich Selnau,47.372239,8.531722,"[(8591064, 211), (8591369, 258), (8591381, 274..."
...,...,...,...,...
8591381,"Zürich, Stauffacher",47.373425,8.529252,"[(8591427, 263), (8503090, 274), (8591079, 348..."
8591384,"Zürich, Stockerstrasse",47.367871,8.535424,"[(8591404, 349), (8591093, 393), (8591299, 402..."
8591404,"Zürich, Tunnelstrasse",47.366143,8.532531,"[(8591058, 282), (8591059, 283), (8503010, 313..."
8591427,"Zürich, Werd",47.372324,8.526845,"[(8591381, 263), (8573710, 268), (8591079, 272..."
8503088,Zürich HB SZU,47.377391,8.539358,"[(8587348, 20), (8503000, 130), (8591067, 156)..."