In [1]:

import pickle
import pandas as pd
# pd.set_option("display.max_rows",40)
# pd.set_option("display.max_columns", 100)
import matplotlib.pyplot as plt
%matplotlib inline

from utils import *
from algo import *

from scipy.stats import norm

%load_ext autoreload
%autoreload 2

c:\Users\czare\Miniconda3\envs\ds\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

_____

In [4]:
END_TIME = Time(h=10).in_seconds()
END_ID = ZURICH_HB_ID
#START_ID = ZURICH_WERD_ID
START_ID = 8502186
DAY_OF_WEEK = 1     # Val

routes_data = generate_routes(START_ID, END_ID, END_TIME, DAY_OF_WEEK, min_confidence=0.8, verbose=True)

Starting routing

c:\Users\czare\Miniconda3\envs\ds\lib\site-packages\scipy\stats\_distn_infrastructure.py:1953: RuntimeWarning: divide by zero encountered in double_scalars
  x = np.asarray((x - loc)/scale, dtype=dtyp)

NO MORE ROUTES FOUND

-----

In [3]:
df_stops

                             stop_name   latitude  longitude
stop_id
176             Zimmerberg-Basistunnel  47.351678   8.521958
8500926    Oetwil a.d.L., Schweizäcker  47.423627   8.403183
8502075  Zürich Flughafen, Carterminal  47.451024   8.563729
8502186           Dietikon Stoffelbach  47.393327   8.398960
8502186           Dietikon Stoffelbach  47.393400   8.398942
...                                ...        ...        ...
8503088                  Zürich HB SZU  47.377391   8.539358
8503307                    Bassersdorf  47.438570   8.626225
8583870                    Bahnhof Süd  47.357174   8.437013
8590279                Shopping Center  47.420448   8.368517
8590464                        Bahnhof  47.311781   8.524311

[1626 rows x 3 columns]

In [6]:
# df_conns[df_conns['trip_id'] == '25.TA.26-4-A-j19-1.3.H']
df_conns

,trip_id,dep_stop_id,arr_stop_id,dep_stop_name,arr_stop_name,mean,std,dayofweek,transport_name,dep_time_s,arr_time_s
0,279.TA.26-301-j19-1.3.R,8500926,8590737,"Oetwil a.d.L., Schweizäcker","Oetwil an der Limmat, Halde",78.636992,218.868222,1,bus,28080,28080
1,225.TA.26-301-j19-1.3.R,8500926,8590737,"Oetwil a.d.L., Schweizäcker","Oetwil an der Limmat, Halde",78.636992,218.868222,1,bus,24480,24480
2,211.TA.26-301-j19-1.3.R,8500926,8590737,"Oetwil a.d.L., Schweizäcker","Oetwil an der Limmat, Halde",78.636992,218.868222,1,bus,51360,51420
3,205.TA.26-301-j19-1.3.R,8500926,8590737,"Oetwil a.d.L., Schweizäcker","Oetwil an der Limmat, Halde",78.636992,218.868222,1,bus,67560,67620
4,286.TA.26-301-j19-1.3.R,8500926,8590737,"Oetwil a.d.L., Schweizäcker","Oetwil an der Limmat, Halde",78.636992,218.868222,1,bus,70980,71040
...,...,...,...,...,...,...,...,...,...,...,...
1049511,2.TA.6-E02-j19-1.2.R,8596126,8573205,"Zürich, Bus Station",Bahnhof,78.636992,218.868222,7,bus,35700,36600
1049512,5.TA.6-E02-j19-1.4.R,8596126,8573205,"Zürich, Bus Station","Zürich Flughafen, Bahnhof",78.636992,218.868222,7,bus,68700,69600
1049513,5.TA.6-E02-j19-1.4.R,8596126,8573205,"Zürich, Bus Station",Bahnhof,78.636992,218.868222,7,bus,68700,69600
1049514,4.TA.5-E03-j19-1.4.R,8596126,8573205,"Zürich, Bus Station","Zürich Flughafen, Bahnhof",78.636992,218.868222,7,bus,45600,46500
1049515,4.TA.5-E03-j19-1.4.R,8596126,8573205,"Zürich, Bus Station",Bahnhof,78.636992,218.868222,7,bus,45600,46500

In [5]:
df_walks

      arr_stop_id  dep_stop_id  weight
0         8503086          176     507
1         8591392          176     686
2         8590616      8500926     267
3         8590737      8500926     480
4         8503016      8502075     267
...           ...          ...     ...
7413      8591071      8596126     613
7414      8591282      8596126     376
7415      8591368      8596126     281
7416      8591379      8596126     627
7417      8503088      8596126     644

[7418 rows x 3 columns]